.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  text-align: left;
}

.chat__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h2 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color:grey;
}

.chat__body {
  flex: 1;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-position: center;
  background-repeat: repeat;
  padding: 30px;
  overflow: auto;
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
}

.chat__name {
  font-size: 13px;
  color: forestgreen;
}

.chat__sender {
  margin-left: auto;
  background-color: palegreen;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: x-small;
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.chat__footer > form > button {
  border: none;
  padding-left: 5px;
  color: lightseagreen;
}
.chat__footer > .MuiSvgIcon-root {
  margin: 10px;
  color: gray;
}