.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__header_right .MuiSvgIcon-root {
  font-size: 24px;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}

.sidebar__searchContainer .MuiSvgIcon-root {
  color: gray;
  margin: 10px;
}

.sidebar__searchContainer input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar__chat {
  flex: 1;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}