* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app__body {
  display: flex;
  background-color: #ededed;
  /* margin-top: -50px; */
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}

@media (max-width: 800px){
  .app {
    overflow: hidden;
  }
  .app__body{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .app .sidebar {
    display: none;
  }
  .app .chat {
    flex: 1;
  }
}

@media (max-width: 400px){
  .app .chat__body {
    padding: 20px 5px;
  }
  .app .chat__message {
    margin-bottom: 15px;
  }

  .app .chat__headerRight {
    display: none;
  }
}
